.modal-window {
  display: none;
  background-color: rgba(0, 172, 238, 0.85);
  top: 0;
  height: 100vh;
  position: fixed;
  width: 200vh;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-open {
  display: grid;
}
.modal-dialog {
  background: white;
  padding: 10px;
  width: 500px;
  height: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}
.fields-form {
  display: flex;
  flex-direction: column;
}
.form-field {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}
.select {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: 155px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}
.clinic-field {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: 150px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}
.nameField {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}
.buttons-form {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
  margin-top: 30px;
}
.save {
  height: 30px;
  width: 80px;
  border: 1px solid;
  border-color: green;
  margin-right: 20px;
  border-radius: 15px;
  background-color: white;
}

.edit {
  height: 30px;
  width: 80px;
  border: 1px solid;
  margin-right: 20px;
  border-color: yellow;
  border-radius: 15px;
  background-color: white;
}
.clean {
  height: 30px;
  width: 80px;
  border: 1px solid;
  border-color: red;
  margin-right: 20px;
  border-radius: 15px;
  background-color: white;
}

.clean:hover {
  background-color: red;
  color: white;
}

.edit:hover {
  background-color: yellow;
  color: black;
}
.save:hover {
  background-color: green;
  color: white;
}
