.container-table {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
  width: 90%;
  height: 500px;
}
.table {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.nombre {
  padding: 10px;
  align-items: center;
  background-color: lightgray;
  width: 33%;
  height: 10px;
}
.profile {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 50%;
}
.clinica {
  padding: 10px;
  align-items: center;
  background-color: lightgray;
  width: 20%;
  height: 10px;
}

.tr {
  margin: 60px;
  border: solid 1px red;
}

.celda {
  height: 40px;
  /* border: solid 1px;
  border-radius: 5px; */
}
.celda-name {
  display: flex;
  flex-direction: row;
}
.celda-data {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}
.name {
  padding-right: 10px;
}
.loader {
  display: flex;
  margin-left: 500px;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}
ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem;
}
ul.pagination a.page-link:hover {
  background-color: #f4f4f4;
}
